<!DOCTYPE html>
<html>
<head>
<title>Adress Pizza </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<h1 style="margin-left: 500px;">Customize Pizza </h1>

<div style="width: 900px;height: 700px;margin-left: 300px;">
  
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <h5>Choose your Toppings</h5>
  <form class="was-validated">
   
  <br>Include Misc fees
  <input type="checkbox" class="optional" data-id="optional3" /> <input type="checkbox" class="optional" data-id="optional3" />
  <input type="text" class="fee" id="optional3" value="150" name="mfees" onkeydown="return false"  style="width:90px;color: rgb(223, 247, 231);margin-left: 10px;border: 12px;text-align: center ;background-color: rgb(49, 112, 212); border-radius: 1px 12px 12px 1px;">  
<br>
<br>Include Misc fees
  <input type="checkbox" class="optional" data-id="optional30" /> <input type="checkbox" class="optional" data-id="optional30" />
  <input type="text" class="fee" id="optional30" value="165" name="mfees" onkeydown="return false"  style="width:90px;margin-left: 10px;border: 12px;text-align: center ;background-color: rgb(49, 112, 212); border-radius: 1px 12px 12px 1px;">  
<br>
<br>Include Misc fees
  <input type="checkbox" class="optional" data-id="optional3" /> <input type="checkbox" class="optional" data-id="optional3" />
  <input type="text" class="fee" id="optional3" value="150" name="mfees" onkeydown="return false"  style="width:90px;margin-left: 10px;border: 12px;text-align: center ;background-color: rgb(49, 112, 212); border-radius: 1px 12px 12px 1px;">  
<br>
<br>Include Misc fees
  <input type="checkbox" class="optional" data-id="optional3" /> <input type="checkbox" class="optional" data-id="optional3" />
  <input type="text" class="fee" id="optional3" value="150" name="mfees" onkeydown="return false"  style="width:90px;margin-left: 10px;border: 12px;text-align: center ;background-color: rgb(49, 112, 212); border-radius: 1px 12px 12px 1px;">  
<br>
<br>Include Misc fees
  <input type="checkbox" class="optional" data-id="optional3" /> <input type="checkbox" class="optional" data-id="optional3" />
  <input type="text" class="fee" id="optional3" value="150" name="mfees" onkeydown="return false"  style="width:90px;margin-left: 10px;border: 12px;text-align: center ;background-color: rgb(49, 112, 212); border-radius: 1px 12px 12px 1px;">  
<br>
  <br>Include Transport fees
  <input type="checkbox" class="optional" data-id="optional2" />
  <input type="number" class="custom-control-label" id="optional2" name="tfees">
<br>
  <br>Optional fees total
  <input type="number" id="toptional" name="toptional" class="toptional" readonly>
</form>
</div>
<!--  -->
</body>
<script>
  function optionalfee() {
    var total = 0;
    $('.optional:checked').each(function() {
      var val = $("#"+$(this).data("id")).val();
      val = isNaN(val) || "" === $.trim(val) ? 0 : parseFloat(val);
      total += val;
    });
    $('#toptional').val(total);
  
  }
  
  $(function() {
    $(".optional").each(function() {
      $(this).on("click", optionalfee);
      // if not next to each other, 
      // use  $("#"+$(this).data("id")).on("input", optionalfee);
      $(this).next().on("input", optionalfee);
    });
  });
</script>
</html>

<!-- <a href="/order">CUSTOMIZE PIZZA</a>  | <a href="/add">SIDE ORDER </a> | <a href="/add">DELEVERY ADDRESS </a>  |    <a href="/show">Display</a>
<a href="/add-users-api">Add API </a>  |   
    <h5>Choose your Toppings</h5>
    <form class="was-validated"><br>
                <p style="margin-left: 50px;">VEGETABLES</p>
             <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customControlValidation1" name="cust_veg" value="155">
               <label class="custom-control-label" for="customControlValidation1">Black Olives 155</label>
            </div>
           <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customControlValidation2" name="cust_veg" value="134">
            <label class="custom-control-label" for="customControlValidation2">Sweet Corn 134</label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customControlValidation3" name="cust_veg" value="165">
            <label class="custom-control-label" for="customControlValidation3">Green peppers 165</label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customControlValidation4" name="cust_veg" value="198">
            <label class="custom-control-label" for="customControlValidation4">cheeges Pizza 198</label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customControlValidation5" name="cust_veg" value="123">
            <label class="custom-control-label" for="customControlValidation5">Garlic Pizza 123</label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customControlValidation6" name="cust_veg" value="210">
            <label class="custom-control-label" for="customControlValidation6">Spicail Garlic Pizza 210</label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customControlValidation7" name="cust_veg" value="250">
            <label class="custom-control-label" for="customControlValidation7">Broccooli 250</label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customControlValidation8" name="cust_veg" value="150">
            <label class="custom-control-label" for="customControlValidation8">Mushurooms 150</label>
          </div>
          <button type="submit" class="btn btn-primary">Order</button> <label class="custom-control-label" for="customControlValidation8"></label>
      </form> -->
