<!DOCTYPE html>
<html>
<head>
<title>Adress Pizza </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

<h1 style="margin-left: 500px;">DELEVERY ADDRESS PIZZA</h1>
<div style="width: 900px;height: 700px;margin-left: 300px;">
  <a href="/order">CUSTOMIZE PIZZA</a>  | <a href="/add">SIDE ORDER </a> | <a href="/add">DELEVERY ADDRESS </a>  |    <a href="/show">Display</a>
<a href="/add-users-api">Add API </a>  |   
    <form action="/add" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName4">Name</label>
            <input type="text" name="cust_name" class="form-control" id="cust_name" placeholder="Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" name="cust_email" class="form-control" id="cust_email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" name="cust_addrese" class="form-control" id="cust_addrese" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Mobile</label>
          <input type="text" name="cust_mob" class="form-control" id="cust_mob" placeholder="Mobile">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" name="cust_city" class="form-control" id="cust_city" placeholder="City">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Pin</label>
            <input type="text" name="cust_pin" class="form-control" id="cust_pin" placeholder="Pin">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <input type="submit" name="sub"  class="btn btn-primary" > 
      </form> 
     
      
</div>
</body>
</html>